* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}

/* HEADER */
header {
    background-image: url("img/bazilika-background.jpg");
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container {
    position: relative;
    height: 100vh;
    max-width: 1140px;
    margin: auto;
}



ul {
    list-style: none;
    display: flex;
    justify-content: right;
    margin-left: 100px;
}

li {
    margin-top: 125px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
}

a {
    margin: 0 50px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;

}

.logo img {
    width: 15%;
    position: absolute;
    top: 8%;
    left: 6%;
}